/* CSS Document */
#cuerpo{ position:absolute; width:409px; height:610px; top:50%; left:50%; margin-top:-305px; margin-left:-204px;}
#titulo{ background:url(../images/login/nombre.png); width:270px; height:33px; position:absolute; left:46px; top:11px;}
#logo{ background:url(../images/login/logo.png) no-repeat; width:150px; height:150px; position:absolute; left:129px; top:0px;}
#franja{ background:url(../images/login/franja.png); width:354px; height:84px; position:absolute; left:27px; top:200px; z-index:10;}
#contenedor{ background:url(../images/login/contenedor.png); width:338px; height:406px; position:absolute; left:35px; bottom:50px; z-index:2;}
#ingresar{ background:url(../images/login/btn_normal.png); width:316px; height:47px; position:absolute; bottom:0px; left:46px; cursor:pointer;}
#ingresar:hover{ background:url(../images/login/btn_hover.png); }
#tag_user{
	background:url(../images/login/usuario.png);
	width:52px;
	height:14px;
	position:absolute;
	top: 132px;
	left: 39px;
}
#tag_pswd{
	background:url(../images/login/clave.png);
	width:39px;
	height:14px;
	position:absolute;
	top: 222px;
	left: 39px;
}
#input_text{
	background:url(../images/login/input.png);
	width:268px;
	height:38px;
	position:absolute;
	top: 156px;
	left: 36px;
}
#input_pswd{
	background:url(../images/login/input.png);
	width:268px;
	height:38px;
	position:absolute;
	top: 246px;
	left: 36px;
}
#tag_recordar{
	background:url(../images/login/recordar.png);
	width:199px;
	height:18px;
	position:absolute;
	top: 313px;
	left: 80px;
	cursor:pointer;
	z-index:10px;
}
#chk{
	background:url(../images/login/chk_desactivo.png);
	width:19px;
	height:18px;
	position:absolute;
	top: 311px;
	left: 42px;
	cursor:pointer;
	z-index:10px;
}
#user{ position:absolute; top:6px; left:7px; width:253px; height:23px; border:none; color:#666666; font-family:Verdana; 
font-weight:bold; font-size:18px; z-index:18px;}
#user:focus{ color:#116194;}
#pswd{ position:absolute; top:6px; left:7px; width:253px; height:23px; border:none; color:#666666; font-family:Verdana; 
font-weight:bold; font-size:18px; z-index:18px;}
#pswd:focus{ color:#116194;}
#iconos{
	background:url(../images/login/iconos.png);
	width:424px;
	height:211px;
	position:absolute;
	top: 298px;
	left: -8px;
	z-index:1;
}
#fondo{
	/*background:url(../images/login/fondo.png);*/
	width:1178px;
	height:209px;
	position:absolute;
	bottom: 77px;
	left: -394px;
	z-index:0;
}
#cabecera{ position:absolute; top:0px; left:0px; width:100%; height:21px; background:#028102;}
#pie{
	background:url(../images/login/santec.png);
	width:128px;
	height:16px;
	position:absolute;
	bottom: 10px;
	right: 10px;
}
#msj{
	position:absolute;
	bottom:32px;
	left:18px;
	width: 290px;
	min-height: 24px;
	text-align:left;
	font-size: 11px;
	padding-top:10px; padding-left:10px;
}
#msj span{float: left; margin-right: 5px;}
.error{ }
.logout{ }
#iconl {
	position:absolute;
	left:9px;
	top:0px;
	width:24px;
	height:211px;
	z-index:1;
	cursor:pointer;
}
#iconr {
	position:absolute;
	right:9px;
	top:0px;
	width:24px;
	height:211px;
	z-index:1;
	cursor:pointer;	
}
#tooltip1{ position:absolute; top:0px; left:45px; background:url(../images/login/iconl.png) no-repeat; width:115px; height:211px; display:none; 
font-family:Verdana; font-size:11px; color:#666666; padding:20px; text-align:left;}
#tooltip2{ position:absolute; top:0px; right:45px; background:url(../images/login/iconr.png) no-repeat; width:115px; height:211px; display:none;
font-family:Verdana; font-size:11px; color:#666666; padding:20px; text-align:right;}



