#not_tbl{ border-collapse:collapse; color:#666666; border:none; margin:0 auto;}
#not_tbl td{ padding:5px;}
#not_tbl input[type=text]{ width:500px; padding:5px; border:1px solid #666666;}
#previo{ width:100%; height:350px; background:#ffffff; border:1px solid #666666;}