*{ font-size:10px;}
body{ font-family:Verdana; font-size:11px; color:#666666;}
table{ border:1px solid #666666; border-collapse:collapse;}
table thead th{ padding:0px; margin:0px; border:1px solid #ededed; padding:5px;}
table thead th span{ display:none; visibility:hidden;}
table tbody td{ padding:0px; margin:0px; border:1px solid #ededed; padding:5px;}
#list_usu_lenght, #list_usu_filter, #list_usu_info, #list_usu_paginate, .fg-toolbar{ display:none;}
#contenedor{ max-width:900px; margin:0 auto; position:relative;}
#cabecera{ height:150px; width:100%; background:#f9f9f9; position:relative; font-family:Verdana; color:#666666; font-size:11px;}
#logo{
	position:absolute;
	top:20px;
	left:5px;
	height:106px;
	width:106px;
	background:#ffffff;
}
#descripcion{
	position:absolute;
	top:17px;
	left:120px;
	height:109px;
	width:770px;
	background:#f9f9f9;
}
#pie{ margin-top:10px; height:50px; width:100%; background:#f9f9f9; position:relative; font-family:Verdana; color:#666666; font-size:11px; text-align:center;}
#opciones{ display:none;}