/* CSS Document */
*{ font-size:10px;}
body{ margin:0px; padding:0px;}
#contenedor{ max-width:900px; min-height:700px; margin:0 auto; position:relative; border:1px solid #ededed; background:#ffffff;}
#cabecera{ height:150px; width:100%; background:#f9f9f9; position:relative; font-family:Verdana; color:#666666; font-size:11px;}
#logo{
	position:absolute;
	top:20px;
	left:5px;
	height:106px;
	width:106px;
	background:#ffffff;
}
#descripcion{
	position:absolute;
	top:17px;
	left:120px;
	height:109px;
	width:770px;
	background:#f9f9f9;
}
#cuerpo{ min-height:500px;}
#pie{ margin-top:10px; height:50px; width:100%; background:#f9f9f9; position:relative; font-family:Verdana; color:#666666; font-size:11px; text-align:center;}
#opciones{ text-align:center; margin:5px;}