/* CSS Document */
#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; position:relative;
width: 100px; height: 90px; font-size: 4em; text-align: center; cursor: move;
overflow:hidden; }
#sortable li:hover { background:#f8b500; }	
.header_fotos{ width:555px; height:64px; border:1px solid #ededed; padding:5px; position:relative; }
.descrip_fotos{
	width:491px;
	height:54px;
	padding:5px;
	position:absolute;
	top: 1px;
	left: 57px;
	color:#ffffff;
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	text-align:justify;
}
.content_fotos{ width:555px; height:440px; border:1px solid #ededed; overflow:auto; padding:5px; margin:5px 0; }
.marco{ position:absolute; left:0px; bottom:0px; width:100%; height:20px; background:#d3d3d3; font-size:9px; color:#000000; font-family:Verdana; text-align:left;}
