/* CSS Document */
legend{ font-weight:bold;}
legend span{ color:#f8b500;}
#error{ color:#ff0000;}
#menu, #adicional, #links{ list-style:none; /*border:1px solid #116194;*/ margin:0px; /*padding-left:10px;*/ padding:0px;}
#menu li, #adicional li, #links li{ list-style:none; font-size:10px;
color:#ffffff; border:1px solid #666666; padding:5px; cursor:pointer; text-transform:uppercase;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
khtml-border-radius:5px;
border-radius:5px;

background: #70b8d6;
background: -moz-linear-gradient(top,  #70b8d6 0%, #70b8d6 50%, #43a2ca 51%, #43a2ca 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70b8d6), color-stop(50%,#70b8d6), color-stop(51%,#43a2ca), color-stop(100%,#43a2ca));
background: -webkit-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: -o-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: -ms-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b8d6', endColorstr='#43a2ca',GradientType=0 );

}
#menu li a:link, #menu li a:visited, #adicional li a:link, #adicional li a:visited, #links li a:link, #links li a:visited{ 
text-decoration:none; color:#666666; text-transform:uppercase; font-size:10px;}
#menu li:hover, #adicional li:hover, #links li:hover{ color:#ffffff; text-decoration:none; 
background: #90bf5e;
background: -moz-linear-gradient(top,  #90bf5e 0%, #90bf5e 50%, #7eb543 51%, #7eb543 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90bf5e), color-stop(50%,#90bf5e), color-stop(51%,#7eb543), color-stop(100%,#7eb543));
background: -webkit-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: -o-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: -ms-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90bf5e', endColorstr='#7eb543',GradientType=0 );


}
#menu li span, #adicional li span, #links li span{ float:left;}

#menu_sicpri{ list-style:none; margin:0px; padding:0px;}
#menu_sicpri li a:link, #menu_sicpri li a:visited{ 
color:#ffffff; 
text-transform:uppercase; 
font-size:10px; 
text-decoration:none;
letter-spacing:0px;
}
/*#menu_sicpri li{ list-style:none; font-size:10px;
color:#000000; border:1px solid #666666; padding:5px; cursor:pointer; text-transform:uppercase;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
khtml-border-radius:5px;
border-radius:5px;

background: #e6e9ef;
background: -moz-linear-gradient(top,  #e6e9ef 0%, #cdd0d6 46%, #bec2c8 50%, #cacdd2 53%, #d9dce0 76%, #e3e6ea 87%, #e8ebef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e9ef), color-stop(46%,#cdd0d6), color-stop(50%,#bec2c8), color-stop(53%,#cacdd2), color-stop(76%,#d9dce0), color-stop(87%,#e3e6ea), color-stop(100%,#e8ebef));
background: -webkit-linear-gradient(top,  #e6e9ef 0%,#cdd0d6 46%,#bec2c8 50%,#cacdd2 53%,#d9dce0 76%,#e3e6ea 87%,#e8ebef 100%);
background: -o-linear-gradient(top,  #e6e9ef 0%,#cdd0d6 46%,#bec2c8 50%,#cacdd2 53%,#d9dce0 76%,#e3e6ea 87%,#e8ebef 100%);
background: -ms-linear-gradient(top,  #e6e9ef 0%,#cdd0d6 46%,#bec2c8 50%,#cacdd2 53%,#d9dce0 76%,#e3e6ea 87%,#e8ebef 100%);
background: linear-gradient(top,  #e6e9ef 0%,#cdd0d6 46%,#bec2c8 50%,#cacdd2 53%,#d9dce0 76%,#e3e6ea 87%,#e8ebef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e9ef', endColorstr='#e8ebef',GradientType=0 );
}

#menu_sicpri li a:link, #menu_sicpri li a:visited{ 
color:#000000; 
text-transform:uppercase; 
font-size:10px; 
text-decoration:none;
letter-spacing:0px;
}
#menu_sicpri li:hover{ color:#000000; text-decoration:none; 
background: #fceabb;
background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
background: linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
}*/

.menu_li{ list-style:none; font-size:10px;
color:#ffffff; border:1px solid #666666; padding:5px; cursor:pointer; text-transform:uppercase;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
khtml-border-radius:5px;
border-radius:5px;

background: #70b8d6;
background: -moz-linear-gradient(top,  #70b8d6 0%, #70b8d6 50%, #43a2ca 51%, #43a2ca 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70b8d6), color-stop(50%,#70b8d6), color-stop(51%,#43a2ca), color-stop(100%,#43a2ca));
background: -webkit-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: -o-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: -ms-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b8d6', endColorstr='#43a2ca',GradientType=0 );

}
.menu_ac{ list-style:none; font-size:10px;
color:#ffffff; border:1px solid #666666; padding:5px; cursor:pointer; text-transform:uppercase;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
khtml-border-radius:5px;
border-radius:5px;

background: #90bf5e;
background: -moz-linear-gradient(top,  #90bf5e 0%, #90bf5e 50%, #7eb543 51%, #7eb543 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90bf5e), color-stop(50%,#90bf5e), color-stop(51%,#7eb543), color-stop(100%,#7eb543));
background: -webkit-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: -o-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: -ms-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90bf5e', endColorstr='#7eb543',GradientType=0 );


}

.btn{ width:auto; height:auto; font-size:10px; 
color:#ffffff; border:1px solid #666666; padding:5px; cursor:pointer; text-transform:uppercase;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
khtml-border-radius:5px;
border-radius:5px;

background: #70b8d6;
background: -moz-linear-gradient(top,  #70b8d6 0%, #70b8d6 50%, #43a2ca 51%, #43a2ca 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70b8d6), color-stop(50%,#70b8d6), color-stop(51%,#43a2ca), color-stop(100%,#43a2ca));
background: -webkit-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: -o-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: -ms-linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
background: linear-gradient(top,  #70b8d6 0%,#70b8d6 50%,#43a2ca 51%,#43a2ca 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b8d6', endColorstr='#43a2ca',GradientType=0 );

}
.btn:hover{
background: #90bf5e;
background: -moz-linear-gradient(top,  #90bf5e 0%, #90bf5e 50%, #7eb543 51%, #7eb543 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90bf5e), color-stop(50%,#90bf5e), color-stop(51%,#7eb543), color-stop(100%,#7eb543));
background: -webkit-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: -o-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: -ms-linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
background: linear-gradient(top,  #90bf5e 0%,#90bf5e 50%,#7eb543 51%,#7eb543 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90bf5e', endColorstr='#7eb543',GradientType=0 );

	
}

.btn:disabled{ color:#999999;
background: #ededed;
background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 50%, #ededed 51%, #f9f9f9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(50%,#ffffff), color-stop(51%,#ededed), color-stop(100%,#f9f9f9));
background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 50%,#ededed 51%,#f9f9f9 100%);
background: -o-linear-gradient(top,  #ededed 0%,#ffffff 50%,#ededed 51%,#f9f9f9 100%);
background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 50%,#ededed 51%,#f9f9f9 100%);
background: linear-gradient(top,  #ededed 0%,#ffffff 50%,#ededed 51%,#f9f9f9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f9f9f9',GradientType=0 );	
}

#menu li span, #adicional li span, #links li span, #menu_sicpri li span, .btn span{ float:left; margin:0px; padding:0px; margin-top:-1px;}
/*----------------------------------------------------------------------------------------------------------------------*/
.li_i{ margin-left:10px;}
#footer{ font-size:11px; color:#ffffff;}
#contenido_web{ position:relative; background:#ededed; width:100%; min-height:500px;}
/*#contenido_sicpri{ position:relative;}*/

#loading{ position:absolute; width:259px; height:113px; margin-top:-56px; margin-left:-129px; top:50%; left:50%; display:none; z-index:9999; background:url(images/loading.png);}
.activo{ background:#ffe87b; }

/*----------------------------------------------------------------------------------------------------------------------*/
#list tbody td{ color:#116194;}
#list tbody tr:hover{ background:#ffe87b; cursor:text;}
#list th input[type=text]{ width:90%; text-align:center;}
#list tbody td a:link, #list tbody td a:visited{ color:#116194; text-decoration:underline;}
#list tbody td a:hove{ color:#116194; text-decoration:underline;}
#list thead th{ text-align:center; font-weight:bold; color:#ffffff;}
#list thead th span{ float:left;}

.list_tbl tbody td{ color:#116194;}
.list_tbl tbody td span{ float:left;}
.list_tbl tbody tr:hover{ background:#ffe87b; cursor:text;}
.list_tbl th input[type=text]{ width:90%; text-align:center;}
.list_tbl tbody td a:link, #list tbody td a:visited{ color:#116194; text-decoration:underline;}
.list_tbl tbody td a:hove{ color:#116194; text-decoration:underline;}
.list_tbl thead th{ text-align:center; font-weight:bold; color:#ffffff;}
.list_tbl thead th span{ float:left;}

.custom_icon{ position:relative; margin:0 auto;}
.toolbar_user{ position:absolute; top:0px; right:0px; height:30px; width:552px; font-size:11px; }
.nom_user{ position:absolute; top:10px; left:5px; width:450px; height:20px; text-align:left; font-weight:bold;}
.salir{ position:absolute; top:6px; right:5px;}
/*----------------------------------------------------------------------------------------------------------------------*/

/*#fecha, #hora{ float:right; margin:0 10px;}*/
table input[type=text]{ width:90%; padding:3px; color:#666666; max-width:455px;}
table select{ width:90%; padding:3px; color:#666666;}
table label{ padding:0px; margin:0px;}
table textarea{ width:90%; max-width:455px; min-height:60px; color:#666666;}

#tbl_prp{ border-collapse:collapse;}
#tbl_prp table{ background:#e9e9e9; padding:10px;}

#checkbox_permisos span,
#checkbox_nivel span,
#checkbox_menu span,
#checkbox_persona span
{ float:left; margin-left:-3px; margin-right:5px;}
/*----------------------------------------------------------------------------------------------------------------------*/
#main_header_fnd{ position:absolute; top:10px; left:10px; background:url(images/main_header.png) no-repeat; width:860px; height:275px;}
#main_footer_fnd{ position:absolute; bottom:10px; right:10px; background:url(images/main_footer.png) no-repeat; width:813px; height:249px;}